{% extends "base.html" %}
{% load static %}
{% block page_title %}ユーザー登録{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/make_workspace.css' %}">{% endblock %}

{% block title %}ユーザー登録画面{% endblock %}
{% block content %}
 <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form action="{% url 'register:user_create' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}

                <!-- Eメール入力エリア -->
                <!-- パスワード入力エリア -->
                <!-- パスワード確認用エリア -->
                <div class="form-group">
                    <!--<label for="{{ field.id_for_label}}">{{ field.label_tag }}</label>-->
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <!--<button type="submit" class="btn btn-primary btn-lg">送信</button>-->
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">register</button>
                {% csrf_token %}
            </form>

        </div><!-- /card-container -->
    </div><!-- /container -->

<!-- Footer -->
<!--検討中-->
<footer class=""></footer>
<!-- Footer -->

{% endblock %}
</html>