{% extends "../base.html" %}

{% block page_title %}サインイン | Slack{% endblock %}

{% block extra-css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/signin_mail.css' %}"> 
{% endblock %}

{% block content %}
<header class="border-bottom">
    <div class="row">
        <div class="icon col-2 mt-2">
            <h1>
                <a href="signin.html"><img src="{% static 'icon/slack_logo.jpg' %}" alt="slack" class="logo"></a>
            </h1>
        </div>

        <div class="header_list col-10 mt-3">
            <ul>
                <li class="mx-1 px-2">製品</li>
                <li class="mx-1 px-2">料金プラン</li>
                <li class="mx-1 px-2">サポート</li>
                <li class="participating_workspace mx-1 p-1">参加中のワークスペース</li>
            </ul>
        </div>
    </div>
</header>

<section class="body bg-light">
    <div class="signin_main border">
        <h1>サインイン</h1>
        <div class="signin_sub">
            <p>メールアドレスとパスワードを入力してください。</p>

                <form action="" method="POST">

                <!-- Eメール入力エリア -->
                <!-- <div class="form-group"> -->
                    <!-- <input type="email" class="form-control" placeholder="you@example.com"> -->
                <!-- </div> -->
                <!-- パスワード入力エリア -->
                <!-- <div class="form-group"> -->
                    <!-- <input type="password" class="form-control" placeholder="パスワード"> -->
                <!-- </div> -->
                
                {{ form.non_field_errors }}
                {% for field in form %}
                {{ field }}
                {{ field.errors }}
                <hr>
                {% endfor %}

                <button type="submit" class="btn_sainin btn-success">サインイン</button>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">ログイン情報を記録する
                    </label>
                </div>
            {% csrf_token %}
            </form>

            <a href="./find.html">パスワードを忘れてしまった？ · どのメールアドレスを登録したか忘れてしまった？​</a>
        </div>
    </div>
    <div class="make_workspace">
        <a href="./make_workspace.html">ワークスペースを新規作成する</a>
    </div>
</section>

<footer class="p-5">
    <div class="row mx-3">
        <div class="col">

            <ul>
                <li>SLACK の使い方</li>
                <li>製品</li>
                <li>エンタープライズ</li>
                <li>料金プラン</li>
                <li>サポート</li>
                <li>Slackガイド</li>
                <li>Appディレクトリ</li>
                <li>API</li>
            </ul>
        </div>

        <div class="col">
            <ul>
                <li>SLACK❤</li>
                <li>仕事</li>
                <li>カスタマー</li>
                <li>開発者</li>
                <li>イベント</li>
                <li>ブログ</li>
            </ul>
        </div>

        <div class="col">
            <ul>
                <li>リーガル情報</li>
                <li>プライバシー</li>
                <li>セキュリティ</li>
                <li>サービス利用規約</li>
                <li>ポリシー</li>
            </ul>
        </div>

        <div class="col">
            <ul>
                <li>便利なリンク</li>
                <li>デスクトップアプリをダウンロードする</li>
                <li>モバイル版アプリをダウンロード</li>
                <li>ブランドガイドライン</li>
                <li>オフィスでのSlack</li>
                <li>ステータス</li>
            </ul>
        </div>
    </div>
</footer>

{% endblock %}