{% extends "base.html" %}
{% load static %}
{% block page_title %}ワークスペースを作成する | Slack{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/make_workspace.css' %}">
{% endblock %}


{% block content %}
<div class="headerinf row">
    <div class="icon col-3">
        <h1>
            <a href="signin.html"><img src="{% static 'images/slack_logo.jpg' %}" alt="slack" class="logo"></a>
        </h1>
    </div>
</div>

<div class="in_body row">

    <div class="info_main col-10 offset-1">
        <h1>まず、メールアドレスを入力してください</h1>
        <p>あとは確認メールを1通チェックするだけで、メールで一杯の受信箱にもお別れです！</p>

        <form action="" method="POST">
            {{ form.non_field_errors }}
            {% for field in form %}

            <!-- Eメール入力エリア -->
            <!-- パスワード入力エリア -->
            <!-- パスワード確認用エリア -->
            <div class="form-group">
                <label for="{{ field.id_for_label}}">{{ field.label_tag }}</label>
                {{ field }}
                {{ field.errors }}
                <!-- <input type="email" class="form-control" placeholder="自分の名前@example.com"> -->
            </div>

            <!-- 
                    <div class="form-group">
                        <label>パスワード</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>


                    <div class="form-group">
                        <label>パスワードの確認</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    -->
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">送信</button>
            <input type="hidden" name="user" value="{{ user }}">
        </form>
    </div>
</div>

{% endblock %}