{% extends "base.html" %}
{% load static %}
{% block page_title %}ワークスペースを作成する | Slack{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/make_workspace.css' %}">
{% endblock %}


{% block content %}
<div class="headerinf row">
    <div class="icon col-3">
        <h1>
            <a href="signin.html"><img src="{% static 'images/slack_logo.jpg' %}" alt="slack" class="logo"></a>
        </h1>
    </div>
</div>

<div class="in_body row">

    <div class="info_main col-10 offset-1">
        <h1>友達を招待しました。</h1>
        <form action="{% url 'chat:chat_main' %}" method="GET">
            <button type="submit" class="btn btn-primary btn-lg">次へ</button>
        </form>
    </div>
</div>

{% endblock %}