{% extends "base.html" %}
{% load static %}
{% block page_title %}ワークスペースを作成する | Slack{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/make_workspace.css' %}">
{% endblock %}


{% block content %}
<div class="headerinf row">
    <div class="icon col-3">
        <h1>
            <a href="signin.html"><img src="{% static 'images/slack_logo.jpg' %}" alt="slack" class="logo"></a>
        </h1>
    </div>
</div>

<div class="in_body row">

    <div class="info_main col-10 offset-1">
        <p>{{ guest_email }}様、ご参加ありがとうございます。</p>
        <p>次のページで、チャットができます。</p>
        <form action="" method="POST">
            <input type="hidden" name="user" value="{{ user }}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">次へ</button>
        </form>
    </div>
</div>

{% endblock %}