{% extends "base.html" %}
{% load static %}

{% block page_title %}初回ログイン{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/make_workspace.css' %}">{% endblock %}

{% block title %}初回ログイン{% endblock %}
{% block content %}
<div class="in_body row">
    <div class="info_main col-10 offset-1">
        <form action="" method="POST">
            <input type="hidden" name="user" value="{{ user }}">
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}