<!DOCTYPE html>
{% load static %}
<html lang="jap">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/make_workspace.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>ワークスペースを作成する | Slack</title>
</head>

<body>
    <div class="container">

        <div class="headerinf row">
            <div class="icon col-3">
                <h1>
                    <a href="signin.html"><img src="{% static 'images/slack_logo.jpg' %}" alt="slack" class="logo"></a>
                </h1>
            </div>
        </div>

        <div class="in_body row">

            <div class="info_main col-10 offset-1">
                <p>仮登録をまずはおこないます。</p>
                <p>お手数ですが、メールアドレスとパスワードを入力してください。</p>

                <form action="{% url 'register:user_create' %}" method="POST">
                    {{ form.non_field_errors }}
                    {% for field in form %}

                    <!-- Eメール入力エリア -->
                    <!-- パスワード入力エリア -->
                    <!-- パスワード確認用エリア -->
                    <div class="form-group">
                        <label for="{{ field.id_for_label}}">{{ field.label_tag }}</label>
                        {{ field }}
                        {{ field.errors }}
                        <!-- <input type="email" class="form-control" placeholder="自分の名前@example.com"> -->
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg">送信</button>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    </div>
</body>

</html>