{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/chat/style.css' %}">

<div class="header">
    <a class="logout" href="{% url 'accounts:LogOut' %}">LOG OUT</a>
    Django - チャットアプリデモ
</div>

<h2>ルームを新しく作成する<h2>
<div class="create-room-box">
    <form action="" method="post">
            {% for field in form %}
            {{ field }}
            {{ field.errors }}
            {% endfor %}
            {% csrf_token %}
        <input type="submit" class="send" name="button" value="作成"> 
    </form>
</div>

<div class="error-box">
    {{ form.non_field_errors }}
</div>

<h2>ルーム一覧</h2>
<ul class="select-room-box">
{% for room in room_list %}
    <a href="/chat/{{ room.name }}">{{ room.name }}</a>
{% endfor %}
</ul>